*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: whitesmoke;
    padding: 19px 20px;
}

ul{
    display: flex;
}

ul li{
    list-style: none;
    padding: 0 18px;
    font-size: 15px;
}

ul li a{
    color: whitesmoke;
    text-decoration: none;
}

ul >li>a:hover{
    color: gray;
}

main{
    padding: 2px;
    min-height: 100vh
}

.logo img{
    padding: 0;
    width: 18px;
    filter: invert(1);
}

.container{
    max-width: 80vw;
    margin: auto;
    padding: 20px;
}

.container h1{
    padding: 12px 0;
}

input [type='text']{
    min-width: 24vw;
    padding: 3px 11px;
    border: 3px solid;
    border-radius: 5px;
    font-size: 19px;
}

.btn{
    background:black;
    color: white;
    padding: 9px 12px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

#resultcont div::first-letter{
    text-transform: uppercase;
}

footer{
    font-size: 12px;
    background-color: black;
    color: whitesmoke;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px){
    .container{
        font-size: 12px;
    }

    nav{
        flex-direction:column;
    }

    .logo{
        padding: 6px 0;
        font-size: 15px;
    }

    
    .logo span{
        font-size: 20px;
    }


    .logo img{
        padding: 0;
        width: 18px;
        filter: invert(1);
    }
}